/* -------------------------------
             google fonts  
----------------------------------*/

/* volkhov  */
@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* poppins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,500;1,600&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: "volkhov", serif;
}

/* Global  */
.container{
    max-width: 1160px;
    margin: auto;
}
.section-intro{
    text-align: center;
}
.section-intro p{
    font-size: 18px;
    font-weight: 700;
}
.section-intro h2{
    font-size: 50px;
    color: #14183e;
    margin-bottom: 24px;
}
.hero-bg{
    background-image: url('assets/Decore.svg');
    background-repeat: no-repeat;
    background-position: 100% 0;
}

/* Navbar  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 0;
    font-weight: 600;
    color: #212832;
}

.nav-menu{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.menu-item{
    cursor: pointer;
    margin: 0 6px;
    padding: 6px 16px;
}

.signup-btn{
    border: 1px solid black;
    border-radius: 5px;
}

/* hero section  */
.hero-section{
    display: flex;
    align-items: center;
}
.intro-text{
    max-width: 50%;
}
.hightlight{
    position: relative;
}
.hightlight::after{
    content: url('assets/h2-underline.png');
    position: absolute;
    width: 90%;
    left: 0;
    top: 22px;
    z-index: -1;
}
.intro-text h1{
    color: #18134b;
    letter-spacing: -4%;
    line-height: 1;
    font-size: 84px;
}
.intro-image img{
    width: 100%;
}

/* category  */
.category-section{
    text-align: center;
}
.categories{
    display: flex;
    flex-wrap: wrap; /* it works as auto responsive */
    justify-content: center;
}
.single-category{
    cursor: pointer;
    padding: 40px;
    margin: 16px 10px;
    border-radius: 36px;
    width: 250px;
    box-shadow: 0 30px 80px rgba(0, 0, 0, 0.02);
    transition: all ease-in-out 0.5s;
}
.single-category:hover{
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.1);
}

/*  Destination */
.section-intro{
    text-align: center;
    margin: 30px 0;
}
.destinations{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-destination{
    max-width: 300px;
    margin: 10px;
    border-radius: 24px;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.06);
    overflow: hidden;
}
.single-destination img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.single-destination p{
    padding: 0 16px 10px;
}

/* Brands */
.brands{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.brand img{
    width: 100%;
}

/* Subscribe */
.subscribe-section{
    background-image: url("assets/bg-decor-1.png");
    background-position: 100% 40%;
    background-repeat: no-repeat;
}
.subscribe-section .container{
    padding: 80px;
    border-radius: 20px;
    background: #dfd7f9 url('assets/subscribe-decor-left.png') no-repeat bottom left;
}
.subscribe-section h2{
    font-family: 'poppins', sans-serif;
    width: 70%;
    margin: auto;
}
.input-group{
    margin-top: 10px;
    display: inline-block;
}
.subscribe-section input{
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    outline: none;
}
.subscribe-section button{
    padding: 15px 30px;
    border-radius: 6px;
    border: none;
    outline: none;
}

/* Footer */
.footer-content{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
}

@media screen and (max-width: 1440px) {
    .container{
        width: 80%;
        margin: auto;
    }
    .nav-menu{
        display: none;
    }
    .intro-text{
        max-width: 100%;
    }
}

/* Tablet */
@media screen and (max-width: 1024px) {
    .container{
        width: 90%;
        margin: auto;
    }
    .hero-section{
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
    .brands{
        flex-direction: column;
        justify-content: center;
    }
}

/* Mobile */
@media screen and (max-width: 768px){
    .intro-text{
        width: 100%;
    }
    .intro-text h1{
        font-size: 54px;
    }
    .subscribe-section .container{
        padding: 35px;
    }
    .subscribe-section h2{
        width: 100%;
    }
    .footer-content{
        flex-direction: column;
        text-align: center;
    }
}